/* YUI 3.8.1 (build 5795) Copyright 2013 Yahoo! Inc. http://yuilibrary.com/license/ */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}


body {
  background: white;
  color: black;
  font-family: "Candara", Candara, sans-serif;
  
}

div#content {
  line-height: 1.3;
  font-size: 90%;
  
}


h1, h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin: .5em;
  color: #3399FF;

}


h1 {
  font-size: x-large;
}

.tagline {
  margin: 1em;
  font-style: italic;

}


h2 {
  font-size: large;
  
}

/* header styling: */
div#header {
  /* not sure if I like this border - play with and add later to print.css */
  border-bottom: 3px solid #3399FF;

}

/* contact information styling: */
.contact {
  position: absolute;
  top: 3em;
  right: 1em;
  text-align: right;

}


/* unordered list styling: */
ul li {
  margin-left: 2.2em;
  list-style-type: circle;

}

/* ordered list styling: */
ol li {
  margin-left: 3em;
  list-style-type: decimal;

}

/* removing bullets by school name, grad info, job title, job workplace, job dates: */
.school, .grad, .title, .workplace, .dates, .email, .phone {
  list-style-type: none;
}

/* uppercase letters for name of university and job titles */
.school, .title {
  text-transform: uppercase;
  font-weight: bold;
}

/* italicizing names of workplaces */
.workplace {
  font-style: italic;
}













